body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color:#242424;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

img{
height:15vh;
}

h1 {
  color: #fffafa;
  font-size: 3em;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
